.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 70px;
    background: rgb(244, 243, 243);
    padding: 20px 0 0 30px;
}

.title {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.form {
    height: 70vh;
    width: 60%;
    border: 1px solid gray;
    border-radius: 4px;
    overflow-y: scroll;
}

.form form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form input, select {
    border: 1.5px solid black;
    border-radius: 3px;
}

.img-section {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.img-1, .img-2, .img-3 {
    height: 20vh;
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
} 

.upload-img {
    border: 0;
    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img1, #img2, #img3{
    border: 0;
}